{% extends "layout.html" %}
{% block content %}
  <div class='container'>
    <div class='row'>
      <div class='col'>
      {% if page_contents.stocks|length != 0 %}
        <table class="table">
          <thead>
            <tr>
            {% for key in page_contents.stocks[0].__dict__ %}
              <th scope="col">{{ key }}</th>
            {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for stock in page_contents.stocks %}
            <tr>
              {% for key in page_contents.stocks[0].__dict__ %}
                <td>{{ stock.__dict__[key] }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>アイテムが登録されていません。</p>
      {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
