version: "3.1"

services:
  app:
    build: .
    ports:
      - 5001:5000
    container_name: app
    volumes:
      - ./:/app
    environment:
      MONGO_URI: mongodb://mongo:27017/db
    command: flask run --host=0.0.0.0

  mongo:
    image: mongo:4.4
    restart: always
    ports:
      - 27018:27017
