version: "3.1"

services:
  app:
    build: .
    ports:
      - 5001:5000
    container_name: app
    volumes:
      - ./:/app
    environment:
      FIRESTORE_PROJECT_ID: simple-alert-line-bot
      FIRESTORE_EMULATOR_HOST: ""
    command: flask run --host=0.0.0.0
