{% extends "layout.html" %} {% block content %}
<div class="container">
  <h3>ここが紛れもなくホーム画面です。</h3>
  <p>Simple Alert LINE Bot (SALB) をご利用いただきありがとうございます。</p>
  <p>まだご利用いただいていない場合は、せっかくなので以下を読んでください。</p>
  <p>SALB は以下のような場合に役に立ちます。</p>
  <ul>
    <li>
      買った食材を何日間も放置してしまい、いつ買ったものかわからなくなってしまう
    </li>
    <li>いつの間にか賞味期限が切れていて捨てざるを得なくなってしまう</li>
    <li>
      お得なクーポン券を財布に大事に入れていたのに、気づいたら有効期限が切れていた
    </li>
    <li>横浜の天気が知りたい</li>
    <li>京浜東北線が止まってないか確認したい</li>
  </ul>
  <p>一つでも当てはまるものがあれば、まずは SALB と友達になりましょう。</p>
  <a href="https://lin.ee/Ha5GnFv"
    ><img
      src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png"
      alt="友だち追加"
      height="36"
      border="0"
  /></a>
  <p>
    迷惑だと感じたらその時にブロックするなり開発者に愚痴るなりすれば良いです。
  </p>
  <div>{% endblock %}</div>
</div>
