{% macro render(page_contents, form) -%} {% from "components/_formhelpers.html"
import render_field %}
<div
  class="modal fade"
  id="AddStockModal"
  tabindex="-1"
  aria-labelledby="AddStockModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        id="add-stock-form"
        action="{{ url_for('views_blueprint.add_stock') }}"
        method="post"
      >
        <div class="modal-header">
          <h5 class="modal-title" id="AddStockModal">アイテム追加</h5>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <p>{{ render_field(form.item_name) }}</p>
          </div>
          <div class="mb-3">
            <p>{{ render_field(form.expiry_date) }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            閉じる
          </button>
          {{ form.csrf_token }} {{ form.submit() }}
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $("#AddStockModal").on("shown.bs.modal", function () {
    $("#item_name").focus();
  });
</script>

{%- endmacro %}
