{% macro render(page_contents) -%}
<table class="table table-hover table-sm">
  <thead>
    <tr class="table-light">
      {% for label in page_contents['labels'] %}
      <th scope="col">{{ label }}</th>
      {% endfor %}
      <th scope="col"></th>
    </tr>
  </thead>

  {% if page_contents.stocks|length != 0 %}
  <tbody>
    {% for stock in page_contents.stocks %}
    <tr>
      {% for key in page_contents.stocks[0].__dict__ if key != '_id' %}
      <td class="align-middle">{{ stock.__dict__[key] }}</td>
      {% endfor %}
      <td>
        <form
          action="{{ url_for('views_blueprint.complete_delete_stock') }}"
          method="post"
        >
          <div class="text-end">
            <input type="hidden" name="stock_id" value="{{ stock._id }}" />
            <button type="submit" class="btn btn-sm text-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{%- endmacro %}
