{% macro render(page_contents, form) -%} {% import
'components/AddStockModal.html' as AddStockModal %} {{
AddStockModal.render(page_contents, form) }}

<table class="table table-hover table-sm">
  <thead>
    <tr class="table-light">
      {% for label in page_contents['labels'] %}
      <th scope="col">{{ label }}</th>
      {% endfor %}
      <th scope="col">
        <div class="text-end">
          <button
            type="button"
            class="btn btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#AddStockModal"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </th>
    </tr>
  </thead>

  {% if page_contents.stocks|length != 0 %}
  <tbody>
    {% for stock in page_contents.stocks %}
    <tr>
      {% for key in page_contents.stocks[0].__dict__ if key != '_id' %}
      <td class="align-middle">
        <div id="{{stock._id}}_{{key}}">
          {% if stock.__dict__[key] == '' %} &nbsp; {% else %} {{
          stock.__dict__[key] }} {% endif %}
        </div>
        <form
          action="{{ url_for('views_blueprint.update_stock') }}"
          method="POST"
        >
          <input
            type="hidden"
            id="{{stock._id}}_{{key}}_input"
            value="{{ stock.__dict__[key] }}"
          />
        </form>
        <script>
          $("#{{stock._id}}_{{key}}").on("click", (e) => {
            $("#{{stock._id}}_{{key}}").addClass("complete-invisible");
            $("#{{stock._id}}_{{key}}_input").attr("type", "text").focus();
          });

          $("#{{stock._id}}_{{key}}_input").on("blur", (e) => {
            $("#{{stock._id}}_{{key}}").removeClass("complete-invisible");
            $("#{{stock._id}}_{{key}}_input").attr("type", "hidden");
          });
        </script>
      </td>
      {% endfor %}
      <td>
        <form
          action="{{ url_for('views_blueprint.delete_stock') }}"
          method="post"
        >
          <div class="text-end">
            <input type="hidden" name="stock_id" value="{{ stock._id }}" />
            <button type="submit" class="btn btn-sm text-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{%- endmacro %}
