{% macro render(page_contents, form) -%} {% import
'components/AddStockModal.html' as AddStockModal %} {{
AddStockModal.render(page_contents, form) }}

<table class="table table-hover table-sm">
  <thead>
    <tr class="table-light">
      {% for i in range(page_contents.data.keys|length) %}
      {% set key = page_contents.data.keys[i] %}
      {% set label = page_contents.data.labels[i] %}
      {% set next_order = "asc" %}
      {% if page_contents.data.sort_key == key and page_contents.data.sort_order == "asc" %}
      {% set next_order = "desc" %}
      {% endif %}
      <th scope="col">
        <a
          href="{{ url_for('views_blueprint.view_stock_list', sort_key=key, sort_order=next_order) }}"
          class="text-decoration-none text-reset"
        >
          {{ label }}
          {% if page_contents.data.sort_key == key %}
          {% if page_contents.data.sort_order == "asc" %}▲{% else %}▼{% endif %}
          {% endif %}
        </a>
      </th>
      {% endfor %}
      <th scope="col">
        <div class="text-end">
          <button
            type="button"
            class="btn btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#AddStockModal"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </th>
    </tr>
  </thead>

  {% if page_contents.data.stocks|length != 0 %}
  <tbody>
    {% for stock in page_contents.data.stocks %}
    <tr>
      {% for key in page_contents.data.keys %}
      <td class="align-middle">
        <div id="{{stock._id}}_{{key}}">
          {% if stock.__dict__[key] == '' %} &nbsp; {% else %} {{
          stock.__dict__[key] }} {% endif %}
        </div>
        <form
          action="{{ url_for('views_blueprint.update_stock') }}"
          method="POST"
          id="{{stock._id}}_{{key}}_form"
          name="{{key}}"
        >
          <input
            type="hidden"
            id="{{stock._id}}_{{key}}_input"
            name="{{key}}"
            value="{% if key in ['str_created_at', 'str_expiry_date'] %}{{ stock.__dict__[key] | replace('/', '-') }}{% else %}{{ stock.__dict__[key] }}{% endif %}"
          />
          <input type="hidden" name="stock_id" value="{{ stock._id }}" />
        </form>
        <script>
          $("#{{stock._id}}_{{key}}").on("click", (e) => {
            const inputType =
              "{{key}}" === "str_created_at" || "{{key}}" === "str_expiry_date"
                ? "date"
                : "text";
            $("#{{stock._id}}_{{key}}").addClass("complete-invisible");
            $("#{{stock._id}}_{{key}}_input").attr("type", inputType).focus();
            var form = $("#{{stock._id}}_{{key}}_input").get(0);
            if (inputType === "text") {
              // HACK:  テキストカーソルを末尾に移動
              tmp = form.value;
              form.value = "";
              form.value = tmp;
            }
          });

          $("#{{stock._id}}_{{key}}_input").on("blur", (e) => {
            $("#{{stock._id}}_{{key}}").removeClass("complete-invisible");
            $("#{{stock._id}}_{{key}}_input").attr("type", "hidden");
          });

          form = $("#{{stock._id}}_{{key}}_form").submit((ele) => {
            if (ele.target.name == "item_name") {
              const item_name = $("#{{stock._id}}_item_name_input").val();
              if (item_name == "") {
                toastr.error("名前は必須です。");
                return false;
              }
            }

            if (ele.target.name == "str_expiry_date") {
              const str_expiry_date = $(
                "#{{stock._id}}_str_expiry_date_input"
              ).val();
              if (
                str_expiry_date !== "" &&
                isNaN(Date.parse(str_expiry_date))
              ) {
                toastr.error("日付として不適切です。");
                return false;
              }
            }

            if (ele.target.name == "str_created_at") {
              const str_created_at = $(
                "#{{stock._id}}_str_created_at_input"
              ).val();
              if (str_created_at === "") {
                toastr.error("登録日は必須です。");
                return false;
              } else if (isNaN(Date.parse(str_created_at))) {
                toastr.error("日付として不適切です。");
                return false;
              }
            }
          });
        </script>
      </td>
      {% endfor %}
      <td>
        <form
          action="{{ url_for('views_blueprint.delete_stock') }}"
          method="post"
        >
          <div class="text-end">
            <input type="hidden" name="stock_id" value="{{ stock._id }}" />
            <button type="submit" class="btn btn-sm text-danger">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{%- endmacro %}
