{% extends "layout.html" %} {% block content %}
<h1>LINE アカウント連携</h1>
<div>
  {% if login_user and login_user.is_linked_line_user %}
  <p>連携中 LINE アカウント名: {{ page_contents.line_user_name }}</p>
  {% elif page_contents.line_user_name %}
  <p>
    {{ page_contents.line_user_name }}
    さんからアカウント連携のリクエストが来ています。
  </p>
  <form
    action="{{ url_for('views_blueprint.approve_line_user') }}"
    method="post"
  >
    <input type="submit" value="承認" />
  </form>
  {% else %}
  <p>アカウント連携リクエストが来ていません。</p>
  <p>
    {% if login_user and login_user.web_user_email %}
      連携したい LINE アカウントから Bot に 「アカウント連携 {{
      login_user.web_user_email }}」と送信してください。
    {% else %}
      LINEログインを利用しているため、この手順は不要です。
    {% endif %}
  </p>
  {% endif %}
</div>

{% endblock %}
